html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
}
h1{
    font-size: 5rem;
}
h3{
    font-size: 2.5rem;
}
p{
    font-size: 2rem;
    color: rgb(134, 126, 126);
}
header{
    display: flex;
    flex-wrap: wrap;
}
.half{
   flex: 1 1 50rem;
    padding-left: 10%;
}
.orange-text{
    color: orange;
}
.btn{
    text-decoration: none;
    font-size: 2rem;
    background-image: linear-gradient(to right,orange,#F06354);
    color: #fff;
    border-radius: .5rem;
    padding:1rem 4rem;
    font-weight: 700;
}
.btn:hover{
    background-image: linear-gradient(to left,orange,#F06354);

}
