html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
h1 {
  font-size: calc(2rem + 1vw);
}
h3 {
  font-size: calc(1.2rem + 1vw);
}
p {
  font-size: calc(1.2rem + 0.5vw);
  color: rgb(134, 126, 126);
}
header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15rem;
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
  background-position: top left;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.half {
  flex: 1 1 50rem;
  padding-left: 10%;
}
.orange-text {
  color: orange;
}
.btn {
  text-decoration: none;
  font-size: calc(1rem + 0.6vw);
  background-image: linear-gradient(to right, orange, #f06354);
  color: #fff;
  border-radius: 0.5rem;
  padding: calc(0.5rem + 0.4vw) 4rem;
  font-weight: 700;
}
.btn:hover {
  background-image: linear-gradient(to left, orange, #f06354);
}
/* dream section  */
.dream {
  display: flex;
  flex-wrap: wrap;
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.dream p {
  max-width: 80%;
}

/* experiences  */
.experiences {
  /* width: 90%;
  margin: auto; */
  padding: 3rem 0;
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: center left;

}
.exp1,
.exp2 {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  margin: 2rem 2rem;
  flex: 1 1 40rem;
  padding-left: 3rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
}
.exp1{
  border-left: 7px solid;
  border-image: linear-gradient(#f06354,orange);
  border-image-slice: 1;
}
.exp2{
  border-left: 7px solid;
  border-image: linear-gradient(#7D30D8,#57D1D7);
  border-image-slice: 1;
}
footer p{
  text-align: center;
}